<script setup>

import { Head } from '@inertiajs/vue3';
import { ref } from 'vue';
import TaskAdder from '../../Components/TaskAdder.vue';
import TodoList from '../../Components/TodoList.vue'

</script>

<style>

@import 'resources/css/index.css';

</style>

<template>
  <Head title="Todo List" />
  <h3>Demo Todo List App</h3>
  <TodoList />
  <TaskAdder />
</template>