body {
    font-family: sans-serif;
}

.task-adder {
    margin-top: 1em;
}

.task {
    color: blue;
    background-color: bisque;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.title {
    font-size: 2em;
    text-decoration: underline;
}