<script setup>

import { router } from '@inertiajs/vue3';
import { ref } from 'vue';

const title = ref('');
const description = ref('');

function addNewTask() {

    router.post('/create-task', { title: title.value, description: description.value });
    location.reload();

}

</script>

<style>

@import 'resources/css/index.css';

</style>

<template>

    <form class="task-adder">
        <input v-model="title" placeholder="Title">
        <input v-model="description" placeholder="Description">
        <button @click.prevent="addNewTask">Add New Task</button>
    </form>

</template>