<script setup>

import { router } from '@inertiajs/vue3';
import { ref, onBeforeMount } from 'vue';
import TodoTask from './TodoTask.vue'

const tasks = ref([]);

onBeforeMount(async () => {
    
    const response = await fetch('/get-tasks');
    const savedTasks = await response.json();
    console.log(savedTasks);

    for (const task of savedTasks) {
        tasks.value.push({ id: task.id, title: task.title, description: task.description});
    }

});

</script>

<style>

@import 'resources/css/index.css';

</style>

<template>

<div>
    <div v-for="task in tasks">
        <TodoTask :id="task.id" :title="task.title" :description="task.description" />
    </div>
</div>

</template>