<script setup>

import { router } from '@inertiajs/vue3';
import { ref } from 'vue';

const props = defineProps(['id', 'title', 'description']);

const editedTitle = ref('');
const editedDescription = ref('');
const editButtonText = ref('Edit');

function switchMode() {

    if (editButtonText.value == 'Edit') {

        
        editButtonText.value = 'Save';

    } else {

        editTask();
        editButtonText.value = 'Edit';

    }
    
}

function cancelEdit() {
    editButtonText.value = 'Edit';
}

function editTask() {

    router.post('/edit-task', { id: props.id, title: editedTitle.value, description: editedDescription.value})
    location.reload();

}

function deleteTask() {
    
    router.post('/delete-task', { id: props.id })
    location.reload();

}

</script>

<style>

@import 'resources/css/index.css';

</style>

<template>

<div class="task">
    <form v-if="editButtonText == 'Save'">
        <input v-model="editedTitle" placeholder="New Title">
        <input v-model="editedDescription" placeholder="New Description">
    </form>
    <div v-else>
        <p class="title">{{ props.title }}</p>
        <p class="description">{{ props.description }}</p>
    </div>
    <button @click="switchMode">{{ editButtonText }}</button>
    <button v-show="editButtonText == 'Save'" @click="cancelEdit">Cancel</button>
    <button @click="deleteTask">Delete</button>
</div>

</template>